body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  min-width: 400px;
}

.input-field {
  width: 100%;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #4f75ff;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.281);
  margin-bottom: 4px;
}

.input-btn,
.tab-btn {
  cursor: pointer;
  border: 1px solid #6439ff;
  padding: 10px 20px;
  background-color: #6439ff;
  color: white;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.281);
  border-radius: 8px;
  font-weight: bold;
}
#ul-el {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

li {
  margin-top: 5px;
}

li a:link,
li a:visited {
  color: #22b8cf;
}

li a:hover,
li a:active {
  color: #3bc9db;
}

.del-btn{
  cursor: pointer;
  border: 1px solid #6439ff;
  padding: 10px 20px;
  color:#6439ff;
  background-color: #fff;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.281);
  border-radius: 8px;
  font-weight: bold;
}